<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="DefaultLanguageCode" value="en-US"/>
    <add key="AppKey" value="" />
    <add key="AppSecret" value="" />
    <add key="OAuthUri" value="http://localhost/minirbac/signin.aspx" />
    <add key="WebAppClassName" value="ComMiniMvc.Mini.WebApp.Application, ComMiniMvc.Mini.WebApp" />
    <add key="TemplateCacheDuration" value="12" />
    <add key="TemplateFileEncoding" value="utf-8" />
    <add key="WebDAL" value="ComMiniMvc.Mini.SQLServerDAL" />
    <add key="EnabledPermission" value="true" />
    <add key="EnabledHttpCompress" value="true" />
    <add key="Extension" value=".aspx" />
  </appSettings>
  <connectionStrings>
    <add name="SQLConnString" connectionString="server=.\sqlexpress;database=Mini;integrated security=true;Pooling=true;Min Pool Size=4;Max Pool Size=100;Connect Timeout=2048" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off">
      <error statusCode="404" redirect="~/error.aspx"/>
    </customErrors>
    <compilation debug="true" />
    <authentication mode="Forms" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <sessionState mode="InProc" timeout="20" />
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.html" />
        <add value="index.aspx" />
      </files>
    </defaultDocument>
    <modules>
      <add name="CHttpModule" type="Cvv.WebUtility.Mvc.HttpModule.CHttpModule, Cvv.WebUtility, PublicKeyToken=7e59bbbc82060618" />
    </modules>
    <handlers>
      <add name="CHttpHandler" preCondition="integratedMode" verb="*" path="MiniMVC.axd" type="Cvv.WebUtility.Mvc.HttpHandler.PageHandler, Cvv.WebUtility" />
    </handlers>
  </system.webServer>
</configuration>
